.mainBox {
	-fx-background-color: linear-gradient(#fefaea 0%, #f1c835 97%);
}

.btn {

	-fx-font-family: Verdana;
	-fx-font-size: 17px;
	-fx-font-weight: bold;
	-fx-background-color: linear-gradient(rgba(64,150,238,1) 0%, rgba(64,150,238,1) 100%);
	-fx-background-radius: 20px 20px 20px 20px; 
	-fx-border-radius: 20px 20px 20px 20px; 
}
.btnleft {
	-fx-background-radius: 10px 0px 0px 10px; 
	-fx-border-radius: 10px 0px 0px 10px; 
	
}
.btnright {
	-fx-background-radius: 0px 10px 10px 0px; 
	-fx-border-radius: 0px 10px 10px 0px; 
	
}
.btn:hover {
	-fx-cursor: hand;
	-fx-background-color: linear-gradient(rgba(249,198,103,1) 0%, rgba(247,150,33,1) 100%); 
}

.lbl {
	-fx-font-size: 15px;
	-fx-font-weight: bold;
	-fx-background-color: linear-gradient(rgba(249,198,103,1) 0%, rgba(247,150,33,1) 100%);
	
}